
:root {
    --color-primary: #27AE60;
    --color-secondary: #EB5757;

    --grey-scale-600: #333333;
    --grey-scale-300: #828282;
    --grey-scale-100: #E0E0E0;
    --grey-scale-0: #F5F5F5;
}

* {
    font-family: "Inter", sans-serif;
}
